
//colors

$scooter: #38bcdb;
$astral: #2E91A3;
$bombay: #A9AAAB;
$alto: #DCDCDC;

// general

body {
    background: grey !important;
}
p, h2 {
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Roboto Slab', serif !important;
}

.littlebreak {
    display: inline;
}
.bigbreak {
    display: none;
}
.featureicon {
    img {
        max-height: 100px;
        margin: 20px;
    }
}
.container-fluid {
    //min-width: 480px;
    margin: 0 auto;     
    padding-right: 0px !important; 
    padding-left: 0px !important; 
}
.o-banner {
    /**
     * You'll likely want to set a height for the elements, perhaps based on the
     * viewport as in this example
     */
    min-height: 500px;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.o-banner__img {
    position: absolute;
    width: 100%;
    left: 0;
    background-image: url('../images/mobile/about_mobile.jpg');
    /**
     * Adjust the height (or width), and offset the element's position based
     * on the aspect of your images
     */
    height: 180%;
    top: -5%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0, 0, 0);
}


// sections

#header {
    .logo img {
        height: 90px;
    }
    background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.7);
    padding: 0 !important;
    height: auto;
    color: white;
    #admissions {

    }
    .headertext {
        text-align: center;
    }
    .phone {
        color: $scooter;
    }
}
#herobox {
    background-size: cover;
    background-repeat: no-repeat;
}
#hero {
    h1 {
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 2.3rem;
        line-height: 1.1;
        font-weight: 900;
        .tagline {
            font-size: 1.2rem;
            display: block;
            font-family: 'Roboto Slab', serif !important;
            font-weight: normal;
        }
    }
    #learn2 {
        //background-image: url('../images/mobile/code_mobile_hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        h1 {
            font-size: 2rem;
        }
    }
    #learn2wrap {
        position: relative;
        height:140px;
    }
    #learntext1, #learntext2 {
        color: white;
        font-size: 1.1rem;
        line-height: 1.2;
    } 

    #learntext1 {
        display: block;
        opacity: 0;
        position: absolute;
    }
    #learntext2 {
        display: block;  
        opacity: 1;
        position: absolute;
    }
    .fa-angle-left {
        padding-right: 1em;
    }
    .fa-angle-right {
        padding-left: 1em;
    }

    #learnline {
        height: 4px;
        margin-top: .5em;
        max-width: 100%;
        background: #39bbdb;
        margin: 0 auto;
        width: 60%;
        display: inline-block;
    }
    i.fa {
        color: white;
        font-size: 3rem;
    }
    #programinfo {
        // margin-top: 30px;
    }
    #programinfo {
        position: relative;
        background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
        background: rgba(255, 255, 255, 0.7);
        padding: 1em;
        border-radius: .25em;
        font-family: 'Roboto', sans-serif;
        p {
            text-align: center;
        }

        .proginf {
            font-size: 1.5rem;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: black;
            text-transform: uppercase;
            font-weight: 900;

            #ln, #fn {
                display: inline-block;
            }
        }
        #cont {
            position: relative;
        }
        #cont img {
            //background: #39BBDC;
            display: block;
            border:none;
            //background-size: 100% auto;
            width: 100%;
            height: auto;
        }

        ::placeholder {
            color: black;
            text-align: center;
        }
        input#fn {
            box-sizing: border-box;
            display: inline-block;
            width: 45%;
            background: transparent;
            border: 0;
            margin-right: 3%;
            border-bottom: 1px solid black;
        }
        input#ln {
            box-sizing: border-box;
            display: inline-block;
            width: 45%;
            background: transparent;
            border: 0;
            margin-left: 5%;
            border-bottom: 1px solid black;
        }
    }  
    #codinganimation {
        height: 360px;
        padding-left: 15px;
    }
    #coding {
        //margin-top: 50px;
    }
    #coding, #data {
        position: relative;
        color: white;
        height: 180px;
        //width: 400px;
        text-align: right;
        float: right;
    }
    #codingheadline, #dataheadline {
        font-size: 2.3rem;
        font-family: 'Roboto', sans-serif !important; 
    }

    #codingtext, #datatext {
        color: white;
        font-size: 1.3rem;
        line-height: 1.2;
    }  
    #codingheadline {
        color: $scooter; 
    }
    #dataheadline {
        color: white;
    }
    #codingline {
        background: $scooter; 
    }
    #dataline {
        background: white;
    }
    #codingline, #dataline {
        height: 5px;
        margin-top: .5em;
        max-width: 100%;
    }
}


#feature {
    color: white;
    background-image: url('../images/mobile/featuring_mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    #dOne {
        order: 1;
        img {
            max-width: 80%;
        }
    }
    #dTwo {
        order: 2;
    }
    #dThree {
        order: 3;
    }
    #dFour {
        order: 4;
    }

    h2 {

        a, a:visited {
            color: white;
            text-decoration: underline;
            line-height: 2;
            font-size: 2.4rem;
            font-weight: 400;
        }
    }
}
#ourstory {
    position: relative;
    overflow: hidden;
    .ostext{
        text-align: center;
        margin: 0 auto;
        padding: 2.4rem;
        z-index: 4;
        top: 10%;
        h2 {
            a, a:visited {
                color: $scooter;
                text-decoration: underline;
                line-height: 2;
                font-size: 1.2em;
                font-weight: 400;
            }
        }
        p {
            color: white;
            font-size: 1.3em;
            line-height: 1.9em;
        }
    }
}
#faq {
    background-image: url('../images/mobile/fap_mobile.jpg');
    //height: 850px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 50% bottom;


    h2 {
        a, a:visited {
            color: black;
            text-decoration: underline;
            //line-height: 2;
            font-family: 'Roboto', san-serif !important;
            font-size: 2.5rem;
            font-weight: 600;
        }
    }
}
.ui-accordion-header, .ui-accordion-content {
    margin-bottom: .4em !important;;
}
#accordion {
    color: black;
    font-family: 'Roboto Slab', serif !important;
    h3 {
        color: black;
        font-size: 1.2rem;
        margin-bottom: .35em;
    }
    li {
        font-size: 1rem;   
    }
}
.ui-icon.iconOpen {
    background:url('../images/misc/open.png') no-repeat;
    background-size:20px;
    width:20px;
    height:20px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.ui-icon.iconClosed {
    background:url('../images/misc/close.png') no-repeat;
    background-size:20px;
    width:20px;
    height:20px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
#footer {
    background: $scooter;
    color: black;
    font-size: 12px;
    padding: 0;
    font-family: 'Roboto Slab', serif !important;
    .logo img {
        max-height: 120px;
    }
}





@media (min-width:768px){
    #hero h1{
        font-size: 2.8rem;
    }
    #hero #learn2 {
        display: none !important;
    }

    .o-banner__img {
        background-image: url('../images/about.jpg');
        height: 180%;
        top: -5%;
    }
    #feature{
        background-image: url('../images/featuring.jpg');
        #dOne {
            order: 2;
        }
        #dTwo {
            order: 1;
        }
        #dThree {
            order: 3;
        }
        #dFour {
            order: 4;
            text-align: center;
        }
    }
    .littlebreak {
        display: none;
    }
    .bigbreak {
        display: inline;
    }
    #header .headertext {
        text-align: right;
    }
    #faq {
        background-image: url('../images/faq.jpg');
        height: 680px;
    }
}
@media(min-width: 992px){
    #hero h1{
        font-size: 3rem;
    }
}

@media (max-width: 767px){
    .logo {
        img {
            max-height: 90px;
        }
    }
    .container {
        max-width: none;
        padding: 0;
    }
    #header {
        background: rgba(0, 0, 0, 1);
    }
    #hero #learn {
        display: none;
    }
    #hero #programinfo {
        background: rgba(255, 255, 255, 1);
        border-radius: 0;
    }
    #codinganimation {
        display: none;
    }
    #faq {
        height: 1150px;
    }
    #footer {
        font-size: 14px;
    }
    #footer .logo img {
        max-height: 120px;
    }
}

@media(max-width: 991px){

    #hero #codingheadline, #hero #dataheadline {
        font-size: 22px;
        font-family: 'Roboto', sans-serif !important; 
    }
    #hero #codingtext, #hero #datatext {
        color: white;
        font-size: 16px;
    }  
}